<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/estilos.css">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Encomendas</title>
</head>


<!--		NavBar			  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Delivery </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/listar.html">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<!--/*@thymesVar id="listEnc" type="com.bd.BLL.PratoBLL.readAll(true)"*/-->
<tr th:each=" pra : ${listEnc}">
    <td th:text="${listEnc}"> Nome: </td>

</tr>
</body>
</html>